<%= form_with(model: survey) do |form| %>

  <h4>
    In the past 2 weeks
    (since <span id="startdate"><%= 2.weeks.ago.strftime("%b") %> <%= 2.weeks.ago.day.ordinalize %></span>)
    I have&hellip;
  </h4>
  <div class="field" data-controller="activity">
    <label>
      <%= form.check_box 'response[work][outside]', data: { action: "activity#outsideChange", target: "activity.outside"} %>
      worked or attend school outside my home
    </label>
    <div class="field details" data-target="activity.outsideDetails" style="display:none;">
      <label>
        <%= form.check_box 'response[work][mask]'%>
        I wore a mask 100% of the time
      </label>
      <%= form.text_field 'response[work][comment]', placeholder: 'optionally share more details here' %>
    </div>
  </div>

  <div class="field" data-controller="activity">
    <label>
      <%= form.check_box 'response[shop][outside]', data: { action: "activity#outsideChange", target: "activity.outside"} %>
      shopped inside grocery or other stores
    </label>
    <div class="field details" data-target="activity.outsideDetails" style="display:none;">
      <label>
        <%= form.check_box 'response[shop][mask]'%>
        I wore a mask 100% of the time
      </label>
      <%= form.text_field 'response[shop][comment]', placeholder: 'optionally share more details here' %>
    </div>
  </div>

  <div class="field" data-controller="activity">
    <label>
      <%= form.check_box 'response[eat][outside]', data: { action: "activity#outsideChange", target: "activity.outside"} %>
      eaten at a restauraunt
    </label>
    <div class="field details" data-target="activity.outsideDetails" style="display:none;">
      <label>
        <%= form.check_box 'response[eat][mask]'%>
        I wore a mask when away from my table
      </label>
      <%= form.text_field 'response[eat][comment]', placeholder: 'optionally share more details here' %>
    </div>
  </div>


  <div class="field" data-controller="housemates">
    <label>How many people do you live with?</label>
    <input type="number" min="0" max="20" value="0" id="housemates-number" data-target="housemates.number" data-action="housemates#updateNumber">
    <input type="range" min="0" max="10" value="0" id="housemates-slider" data-target="housemates.slider" data-action="input->housemates#slide">
  </div>

  <ol id="housemates">
  </ol>

  <div class="field">
    <label>Other testing, travel, activities or considerations for your household?</label>
    <%= form.text_area 'response[comment]', rows:3, cols:80 %>
  </div>

  <%= form.hidden_field 'response[version]', value:Survey.version %>

  <div class="actions">
    <%= form.button 'Save and share', class: 'btn' %>
  </div>


<%
  # hack to render housemate fields outside of form element
  # otherwise template fields will get submitted with the form
  @fform = form

  end
%>

<!-- keep outside form so blank fields don't get submitted -->
<template id="housemateTemplate">
  <li class="housemate">
    activites since <%= 2.weeks.ago.strftime("%b %-d") %>:
    <div class="details">
      <label>
        <%= @fform.check_box 'response[housemates][housemate_index][work_school]'%> work or school outside the home
      </label>
      <label>
        <%= @fform.check_box 'response[housemates][housemate_index][shop_eat]'%> shopping or eating out
      </label>
      <%= @fform.text_field 'response[housemates][housemate_index][comment]', placeholder: 'more details on this person' %>
    </div>
  </li>
</template>
