<!--<p id="notice"><%= notice %></p>-->

<%# @survey.response %>

<h4>
  Between
  <%= (@survey.created_at - 2.weeks).strftime("%B") %>
  <%= (@survey.created_at - 2.weeks).strftime("%-d").to_i.ordinalize %> &mdash;
  <% if (@survey.created_at - 2.weeks).month == @survey.created_at.month %>
    <%= @survey.created_at.strftime("%-d").to_i.ordinalize %>&hellip;
  <% else %>
    <%= @survey.created_at.strftime("%B") %>
    <%= @survey.created_at.strftime("%-d").to_i.ordinalize %>&hellip;
  <% end %>
</h4>

<ul class="survey-show">
  <li>
    <% if @survey.response['work']['outside'] == '1' %>
      I <b>did</b> work or attended school outside the home.
      I <% if @survey.response['work']['mask'] == '1' %>
        wore
      <% else %>
        <b>did not</b> wear
      <% end %> a mask 100% of the time.
      <i><%= @survey.response['work']['comment'] if @survey.response['work']['comment'].present? %></i>
    <% else %>
      I did not work or attend school outside the home.
    <% end %>
  </li>

  <li>
    <% if @survey.response['shop']['outside'] == '1' %>
      I <b>did</b> shop at the grocery or inside other stores.
      I <% if @survey.response['shop']['mask'] == '1' %>
        wore
      <% else %>
        <b>did not</b> wear
      <% end %> a mask 100% of the time.
      <i><%= @survey.response['shop']['comment'] if @survey.response['work']['comment'].present? %></i>
    <% else %>
      I did not shop at the grocery or inside other stores.
    <% end %>
  </li>

  <li>
    <% if @survey.response['eat']['outside'] == '1' %>
      I <b>did</b> eat at a restauraunt.
      I <% if @survey.response['eat']['mask'] == '1' %>
        wore
      <% else %>
        <b>did not</b> wear
      <% end %> a mask when away from my table.
      <i><%= @survey.response['eat']['comment'] %></i>
    <% else %>
      I did not eat at restauraunts.
    <% end %>
  </li>

  <li>
    <% if @survey.response['housemates'].count == 0 %>
      I lived alone.
    <% else %>
      I lived with <%= pluralize(@survey.response['housemates'].count, 'person') %>.
    <% end %>
  </li>

  <% if @survey.response['housemates'].count > 1 && @survey.housemates_nothing? %>
    <li>None of them worked, attended school, shopped, or ate outside the home.</li>
  <% else %>
    <% (1..@survey.response['housemates'].count).to_a.each do |i| %>
      <% housemate = @survey.response['housemates'][(i-1)] %>
      <li>
        <% if @survey.response['housemates'].count == 1 %>
          They
        <% else %>
          The <%= i.ordinalize %>
        <% end %>
        <% if housemate['work_school'] == '1' %>
          <b>did</b> work or attend school outside the home.
        <% else %>
          did not work or attend school outside the home.
        <% end %>
        They
        <% if housemate['shop_eat'] == '1' %>
          <b>did</b> shop or eat out.
        <% else %>
          did not shop or eat out.
        <% end %>
        <i><%= housemate['comment'] %></i>
      </li>
    <% end %>
  <% end %>

  <% if @survey.response['comment'].present? %>
    <li>
      <i><%= @survey.response['comment'] %></i>
    </li>
  <% end %>
</ul>
