<!DOCTYPE html>
<html>
  <head>
    <title>covidQ.org - share precautions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <header>
      <h1><%= link_to 'covidQ.org', root_url %></h1>
      <h2>share your precautions</h2>
    </header>

    <main>
      <%= yield %>
    </main>

    <% if @survey.persisted? %>
      <footer>
        <p>
          Submitted <%= time_ago_in_words(@survey.created_at) %> ago<br />
          Permanent link: <%= link_to short_survey_url(@survey.token), short_survey_url(@survey.token) %>
        </p>
        <%= link_to 'Submit new answers', root_url, class: 'btn' %>
        <p class="credit">
          made by <%= link_to 'chap', 'http://chapambrose.com' %>
        </p>
      </footer>
    <% end %>
  </body>
</html>
